---
import { getPostSlug, type IBlogEntry } from '@/content/config';
import { getExcerpt } from '@/common/utils';

interface Props {
  entry: IBlogEntry;
}

const { entry } = Astro.props;
const { compiledContent } = await import(`../content/blog/${entry.id}`);
const excerpt = await getExcerpt(compiledContent());
const postSlug = getPostSlug(entry.data);
---

<article>
  <h2>
    <a href={postSlug}>
      {entry.data.title}
    </a>
  </h2>
  <div set:html={excerpt} />
  <p>
    <a href={postSlug}> 阅读全文 </a>
  </p>
</article>
